# Zenith OS custom GRUB entries
# live-build includes this file in the binary image.
set timeout=12
set default=0

menuentry "Запустить Zenith OS" {
    linux /live/vmlinuz boot=live components quiet splash locales=ru_RU.UTF-8 keyboard-layouts=ru
    initrd /live/initrd.img
}
menuentry "Запустить Zenith OS (режим совместимости)" {
    linux /live/vmlinuz boot=live components nomodeset locales=ru_RU.UTF-8 keyboard-layouts=ru
    initrd /live/initrd.img
}
menuentry "Установить Zenith OS" {
    linux /live/vmlinuz boot=live components apparmor=1 locales=ru_RU.UTF-8 keyboard-layouts=ru zenith-installer=1
    initrd /live/initrd.img
}
menuentry "Тест оперативной памяти" {
    linux16 /boot/memtest86+.bin
}
menuentry "Перезагрузить компьютер" {
    reboot
}
menuentry "Выключить компьютер" {
    halt
}
